asgiref==3.5.0
attrs==21.4.0
backports.zoneinfo==0.2.1
coverage==6.3.2
Django==4.0.3
django-countries==7.3.2
django-extensions==3.1.5
djangorestframework==3.13.1
future==0.18.2
generics==3.4.0
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.0.1
pytest-cov==3.0.0
pytest-django==4.5.2
pytz==2022.1
serializers==0.2.4
sqlparse==0.4.2
tomli==2.0.1
typing-extensions==4.1.1
